In [1]:
import pandas as pd

In [2]:
data = {
    'ColA': [180000, 360000, 230000, 60000],
    'ColB': [110, 905, 230, 450],
    'ColC': [18.9, 23.4, 14.0, 13.5],
    'ColD': [1400, 1800, 1300, 1500]
}

df = pd.DataFrame(data)
df

     ColA  ColB  ColC  ColD
0  180000   110  18.9  1400
1  360000   905  23.4  1800
2  230000   230  14.0  1300
3   60000   450  13.5  1500

In [3]:
#normalization
df_new = (df - df.min()) / (df.max() - df.min())

In [4]:
df_new

       ColA      ColB      ColC  ColD
0  0.400000  0.000000  0.545455   0.2
1  1.000000  1.000000  1.000000   1.0
2  0.566667  0.150943  0.050505   0.0
3  0.000000  0.427673  0.000000   0.4